<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>添加店铺</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
  <!-- <script src="main.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <p>
    <input type="text" id="shopName"> 店铺名称 <br />
    <input type="text" id="thumbUrl"> 店铺图片 <br />
    <input type="text" id="address"> 店铺地址 <br />
    <button id="addShop">添加店铺</button>
  </p>

  <script>
    $('#addShop').click(() => {
      $.ajax({
        url: 'http://127.0.0.1:3000/shops/add',
        method: 'POST',
        data: {
          shopName: $('#shopName').val(),
          thumbUrl: $('#thumbUrl').val(),
          address: $('#address').val()
        },
        success(res) {
          console.log(res);
        }
      })
    })
  </script>
</body>
</html>